::placeholder {
    color: orange;
}

.header {
    margin-bottom: 1rem;
}

.password-form {
    margin-top: 1.5rem;
}

.form-input {
    padding: 0.5rem;
    width: 100%;
    margin: 0.5rem 0;
    background-color: rgba(61, 110, 152, 0.26);
    border: 0.1rem solid gray;
}

.form-input:focus {
    border: 0.1rem solid purple;
}
.submit {
    width: 33%;
    padding: 0.5rem;
    border-radius: 0.5rem;
    margin: 0.5rem 0;
    color: orange;
}

.delete {
    padding: 0.5rem;
    border-radius: 0.5rem;
    margin: 0.5rem 0;
    color: orange;
}